body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav {
  background: #262626;
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.7);
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mainContent {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.left-aside {
  width: 16%;
  display: flex;
  flex-direction: column;
  min-width: 160px;
}
.left-aside h2{
  font-style: italic;
}
.about {
  background: #f8f9fa;
  padding: 15px;
}
a {
  color: purple;
  text-decoration: underline;
}
.archives {
  padding: 15px;
}
.articleBox {
  width: 60%;
}
.boxLeft,
.boxRight {
  width: 48%;
}
.boxLeft {
  float: left;
}
.boxRight {
  float: right;
}
.article {
  border: 1px solid gray;
  box-shadow: 0px 5px 2px #888888;
  margin-bottom: 20px;
}
.describe {
  padding: 15px;
}
img {
  width: 100%;
}
.viewDetail {
  color: #4492ff;
}
.rightAside {
  position: relative;
  width: 18%;
}
.signIn {
  display: flex;
  position: absolute;
  width: 100%;
  top: 50%;
  right: 0;
  margin-top: -110px;
  justify-content: space-around;
  flex-direction: column;
  background-color: #f5f5f5;
  height: 220px;
  padding: 5% 15%;
}
.check {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.inputBar {
  margin-bottom: -28px;
  height: 35px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.signBtn {
  height: 40px;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 2px;
  background-color: #076bff;
}
footer{
  height: 100px;
  background-color: #f9f9f9;
  color: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
